body {
    font-family: 'Roboto', sans-serif;
    margin-left: 500px;
    margin-right: 500px;
    background: black;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.content {
    display: flex;
    background: #1F2937;
    height: 300px;
    width: 600px;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    display: flex;
    margin-left: 200px;
}

.image {
    display: flex;
    background: gray;
    margin-right: 200px;
    height: 300px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-left: 200px;
    flex-direction: column;
}

.subtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 200px;
}

.container {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 200px;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 200px;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 24px;
}